@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --crayola-color: #756ab6;
    --violet-color: #ac87c5;
    --pink-pearl-color: #e0aed0;
    --misty-rose-color: #ffe5e5;
  }

  .dark {
    --crayola-color: #756ab6;
    --violet-color: #ac87c5;
    --pink-pearl-color: #e0aed0;
    --misty-rose-color: #ffe5e5;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
  }
}
